<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.attendance.dao.TerminalMapper">
  <resultMap id="BaseResultMap" type="com.song.attendance.bean.Terminal">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="terminal_mac" jdbcType="CHAR" property="terminalMac" />
    <result column="is_control" jdbcType="TINYINT" property="isControl" />
    <result column="socket_on" jdbcType="CHAR" property="socketOn" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, terminal_mac, is_control, socket_on, user_id, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from terminal
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from terminal
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.song.attendance.bean.Terminal">
    insert into terminal (id, terminal_mac, is_control, 
      socket_on, user_id, create_date, 
      update_date)
    values (#{id,jdbcType=INTEGER}, #{terminalMac,jdbcType=CHAR}, #{isControl,jdbcType=TINYINT}, 
      #{socketOn,jdbcType=CHAR}, #{userId,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.song.attendance.bean.Terminal">
    insert into terminal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="terminalMac != null">
        terminal_mac,
      </if>
      <if test="isControl != null">
        is_control,
      </if>
      <if test="socketOn != null">
        socket_on,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="terminalMac != null">
        #{terminalMac,jdbcType=CHAR},
      </if>
      <if test="isControl != null">
        #{isControl,jdbcType=TINYINT},
      </if>
      <if test="socketOn != null">
        #{socketOn,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.song.attendance.bean.Terminal">
    update terminal
    <set>
      <if test="terminalMac != null">
        terminal_mac = #{terminalMac,jdbcType=CHAR},
      </if>
      <if test="isControl != null">
        is_control = #{isControl,jdbcType=TINYINT},
      </if>
      <if test="socketOn != null">
        socket_on = #{socketOn,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.song.attendance.bean.Terminal">
    update terminal
    set terminal_mac = #{terminalMac,jdbcType=CHAR},
      is_control = #{isControl,jdbcType=TINYINT},
      socket_on = #{socketOn,jdbcType=CHAR},
      user_id = #{userId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>